.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  gap: var(--size40);
  .join-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size16);
    width: 100%;
    p {
      font-size: var(--size20);
      color: var(--g100);
    }
  }
  .grid-chats {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: var(--size16);
    width: 100%;
  }
}

@media (max-width: 768px) {
  .home {
    padding-top: var(--size20);
    .grid-chats {
      grid-template-columns: 1fr;
    }
  }
}
