#layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: var(--g950);
  .body {
    display: flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--size16) var(--size32);
  }
}

h1 {
  font-size: var(--size60);
  color: var(--g100);
}

h2 {
  font-size: var(--size48);
  color: var(--g100);
}

h3 {
  font-size: var(--size36);
  color: var(--g100);
}

h4 {
  font-size: var(--size24);
  color: var(--g100);
}

@media (max-width: 768px) {
  #layout {
    .body {
      padding: var(--size4) var(--size8);
    }
  }
  h1 {
    text-align: center;
    font-size: var(--size40);
  }
  h2 {
    text-align: center;
    font-size: var(--size32);
  }
  h3 {
    text-align: center;
    font-size: var(--size24);
  }
  h4 {
    text-align: center;
    font-size: var(--size20);
  }
}
